
.l-blue{
    color: rgb(105, 219, 240);
}
.d-blue {
    color: rgb(3, 67, 110);
}

.devetry-logo {
    transform: scale(0.5);
    position: fixed;
    left: -90px;
    top: -36px;
}

.header {
    top:0;
    height: 100px; 
    position: absolute;
    color: black;
    background-color: white;
    width: 110vw
}


.left-align {
    text-align: left;
}
.time {
    position: fixed;
    right: 10px;
    font-weight: bold;

}
.title {
    padding-left: 100px;
    position: fixed;
    top: -14px;
    left: 35vw;
    font-weight: bolder;
    font-size:larger;

}