
.l-blue{
    color: rgb(105, 219, 240);
}
.d-blue {
    color: rgb(3, 67, 110);
}

.devetry-logo {
    transform: scale(0.5);
    position: fixed;
    left: -40px;
    top: -20px;
}

.header {
    top:0;
    height: 100px; 
    position: absolute;
    color: black;
    background-color: white;
    width: 110vw;
    border-bottom: 3px solid rgb(23, 182, 255);
    /* box-shadow: 0px 0px 10px 8px #02aff3; */
    /* outline: 1px solid rgb(111, 209, 255); */
    z-index: 5;
}



.left-align {
    text-align: left;
}
.time {
    position: fixed;
    right: 10px;
    font-weight: bold;

}
.title {
    padding-left: 100px;
    position: fixed;
    top: -14px;
    left: 35vw;
    font-weight: bolder;
    font-size:larger;

}