.bold {
    font-weight: bold;
}
.blue{
    color: rgb(105, 219, 240);
}
.bottom {
    position: fixed;
    top: 10vh;
    width: 100vw;
    border-bottom: solid 1px rgb(105, 219, 240);
    border-top: solid 1px rgb(105, 219, 240);
}
.devetry-logo {
    transform: scale(0.5);
    position: absolute;
    left: 0;
    top: 0;
}
.grid-3 {
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-gap: 10px;
    background-color:white;
    width: 100vw;
}
.grid-3 > div {
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
.header {
    top:0;
    height: 10vh;
    position: absolute;
    color: black;
}
/* .header-left {
    position: absolute;
    left: 0;
    width: 100px;
} */
.header-right {
    /* position: fixed; */
    right: 30px;
}
.header-left {
    /* position: absolute;
    left: 0;
    top: 0; */
}
.header-center {
    font-weight:bold;
}
.left-align {
    text-align: left;
}
